@import "../../node_modules/bootstrap/scss/functions";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);
$headings-font-family:Open Sans;

$modal-content-bg: #eceeec;

$theme-colors: (
    primary:#54d3aa,
    secondary:#5661b9,
    danger: #BF3602,
    light:#eceeec,
    dark:#000,
  );

  
  .main {
    background-image: linear-gradient(58deg, #5661b9, #54d3aa);
    width: 100%;
    height: 100vh;
    
    .weather-detail {
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:1.5rem;
      border-radius:30px;
      margin:10px 0;
      background: rgba(75, 68, 121, 0.2);
      box-shadow: 0 8px 32px 0 rgba(75, 68, 121, 0.2);
      backdrop-filter: blur( 16.5px );
      -webkit-backdrop-filter: blur( 16.5px );
      border: .5px solid rgba(75, 68, 121, 0.1);;
    }
    
    .weather-data {
      border-radius:30px;
      background: rgba(75, 68, 121, 0.2);
      box-shadow: 0 8px 32px 0 rgba(75, 68, 121, 0.2);
      backdrop-filter: blur( 16.5px );
      -webkit-backdrop-filter: blur( 16.5px );
      border: .5px solid rgba(75, 68, 121, 0.1);
      
      .weather-icon{
        font-size: 55px;
      }
    }
    .list-inline li:last-child {
      border: none !important;
    }
    
  }

  .btn-custom, .btn-custom:hover {
    background-color: #5661b9;
    color: white;
  }
  
  
  
  // Required
  @import "../../node_modules/bootstrap/scss/variables";
  @import "../../node_modules/bootstrap/scss/mixins";


